.lessonsListVideos{
    /* padding:var(--spacer--md) ; */
    display: flex;
    flex-direction:column;
    
    justify-content:space-evenly;
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-height);
    
    
}
.lessonsListVideos__player{
    width:100%;
    position: sticky;
    top:calc( var(--header-height) + var(--spacer--sm));
    z-index: 9999;
}
.lessonsListVideos__list{
    width:100%;
    height:400px;
    overflow-y:scroll;
    margin-top: var(--spacer--md);
    
}
.lessonsListVideos__list{
    width:100%;
    min-height:500px;
    /* height: calc(100vh - var(--header-height)); */
    overflow-y:scroll;
    
}
.lessonsListVideos__list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .lessonsListVideos__list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .lessonsListVideos__list::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  
  
.lessonsListVideos__video {
    padding-top:var(--spacer--sm);
    width:100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 950px) { 
    .lessonsListVideos{
      
        flex-direction:row;
        /* flex-wrap: wrap; */
        justify-content:space-evenly;
        /* border: solid 1px red; */
    }
    .lessonsListVideos__player{
        width:0%;
        /* background-color: blanchedalmond; */
    }
    .lessonsListVideos__list{
        width:100%;
        margin-top: 0;
    }
    .desktop__playing__player{
        width: 48%  !important;
    }
    .desktop__playing__list{
        width: 50%  !important;
    }
   
}
  
  