.lessonsListVideos{
    padding:var(--spacer--md) var(--spacer--sm);
    display: flex;
    flex-direction:column;
    
    justify-content:space-evenly;
    position: relative;
    
}
.lessonsListVideos__player{
    width:100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.lessonsListVideos__list{
    width:100%;
    height:400px;
    overflow-y:scroll;
    margin-top: var(--spacer--md);
    
}
.lessonsListVideos__list{
    width:100%;
    height:400px;
    overflow-y:scroll;
    
}
.lessonsListVideos__list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .lessonsListVideos__list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .lessonsListVideos__list::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  
  
.lessonsListVideos__video {
    padding-top:var(--spacer--sm);
    width:100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 950px) { 
    .lessonsListVideos{
      
        flex-direction:row;
        /* flex-wrap: wrap; */
        justify-content:space-evenly;
    }
    .lessonsListVideos__player{
        width:50%;
    }
    .lessonsListVideos__list{
        width:45%;
        margin-top: 0;
    }
   
}
  
  