.app {
    height: 100vh;
    display: flex;
    width: 100%;
 
    flex-direction: column;
    color: white;
    background-color: var(--color-primary);
  }
  .quiz__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
      url("https://res.cloudinary.com/musabcloud/image/upload/v1625407015/tsqr4rrcjrmn1kyvrut5.jpg") center;
  }
  .main {
    width: 100%;
    height:70vh;
    display: flex;
    
  
  }
  
  .pyramid {
    width: 100%;
    background-color: #02023099;
    
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height:30vh;
    overflow-y:scroll; 
    position: relative;
    flex-direction:column
  }
  
  .retry{
    position: fixed;
    width:400px;
    left:calc(50% - 200px);
    height: 150px;
    top:calc(50% - 75px);
    display: flex;
    flex-direction:column;
    background-color: var(--color-danger);
    padding:20px 10px;
    justify-content:space-between;
    border-radius: 20px;
    align-items:center;
  }
  .moneyList {
    padding: 20px;
    list-style: none;
    width: 100%;
   
  }
  .moneyHead{
    width: 100%;
   text-align:center;
   position:sticky;
   top: 0;
   left: 0;
   height:50px;
   background:var(--color-primary)
  }
  
  .moneyListItem {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  .moneyListItem.active {
    background-color: var(--color-light);
  }
  
  .moneyListItemNumber {
    width: 25px;
    height: 25px;
    border-radius:50%;
    font-size: 16px !important;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-teal)

  }
  
  .moneyListItemAmount {
    font-size: 18px !important;
    font-weight: 300;
  }
  .travia_details{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .top {
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
  }
  
  .timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
  }
  
  .bottom {
    height: 60%;
   
  }
  
  .trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .question {
    width: calc(100% - 10px);
    background: linear-gradient(#100241, black);
    text-align: center;
    padding: 10px 5px;

    border-radius: 10px;
    border: 2px solid white;
    font-size: 1.2rem;
  }
  
  .answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer {
    width: 100%;
    padding:2px;
    margin: 2px 5px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
  }
  
  .answer:hover,
  .answer.active {
    background: mediumblue;
  }
  
  .answer.correct {
    animation: correct 3s ease forwards;
  }
  
  @keyframes correct {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: green;
    }
  }
  
  .answer.wrong {
    animation: wrong 3s ease forwards;
  }
  
  @keyframes wrong {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: crimson;
    }
  }
  
  .endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .logo{
      /* position:fixed;
      top:10px;
      right:10px; */
      
      width:150px;
      
      
  }
  .back__btn{
      position:fixed;
      top:10px;
      left:10px;
      
   

      

  }
  .logo__quiz__main{
      position:fixed;
      width: 100px;
      top:10px;
      right:10px;
      background:white
      
   

      

  }
  .start {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .startInput {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  
  .startInput:focus {
    outline: none;
  }
  
  .startButton {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--color-secondary);
    color: var(--text-secondary)
  }
/* small devices */
@media (min-width: 850px) { 
  
  .quiz__container{
    
    flex-direction: row;
  }
  .main {
    width: 75%;
    

    flex-direction: column;
  }
  
  .pyramid {
    width: 25%;
    
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow-y:scroll; 
  }
   .trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
 
  
  
  .top {
    height: 50%;
    position: relative;
  }
  
  .timer {
    margin-top: 20px;
  }
  
  .bottom {
    height: 50%;
  }
  .moneyList {
    
    margin-top: 60px ;
   
  }
  
  .question {
    width: 80%;
   
  }
  
  .answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer {
    width: 40%;
    padding: 10px;
    margin: 0 10px 20px 10px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
  }
  
  
 
}

