.loader__content__box{
    padding: 0 !important;

margin-bottom: 15px;

cursor: pointer;
flex-basis: 45%;
}

@media (max-width: 350px) { 
    .loader__content__box{
       
        flex-basis: 80%;
       
    
    }
    
}
