
.subject__ellipse__container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.subject__ellipse{
    width: 3.8em;
    height: 3.8em;
  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    /*border: 3px solid var(--color-teal);*/
    position: relative;
    /*animation: borderAnim 3s ease-in-out infinite alternate;*/
    cursor: pointer;
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px 1px #0000002a;
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px 1px #0000002a;

   
}



@keyframes borderAnim {
    0%{
    
        border-bottom: 3px solid var(--color-white);
        border-top: 3px solid var(--color-teal);
        border-right: 3px solid var(--color-teal);
        border-left: 3px solid var(--color-teal);
    }
    25%{
 
        border-left: 3px solid var(--color-white);
        border-bottom: 3px solid var(--color-teal);
        border-top: 3px solid var(--color-teal);
        border-right: 3px solid var(--color-teal);

 
    }
    75%{
 
        border-top: 3px solid var(--color-white);
        border-left: 3px solid var(--color-teal);
        border-bottom: 3px solid var(--color-teal);
    
        border-right: 3px solid var(--color-teal);
      
    }
    100%{
 
        border-right: 3px solid var(--color-white);

        border-top: 3px solid var(--color-teal);
        border-left: 3px solid var(--color-teal);
        border-bottom: 3px solid var(--color-teal);    
    
   
    }
}
.subject__ellipse > span{
    font-size: 1.5rem;
    
    color: var(--color-teal) !important;

}
.subject__ellipse > h5{
    font-size: .7rem;
    margin:0;
  
    line-height: .7rem;
    color: var(--color-teal) !important;

}
.subject__ellipse > .heading__bottom{
    font-size: .7rem;
    margin:0;
  
    line-height: .7rem;
   
    color:var(--color-white) !important;
    /* color: var(--color-white) !important; */

}

.elipse__active{
   
    background: var(--color-teal);
   /* border: 3px solid var(--color-white);
   
    animation: borderAnim 3s ease-in-out infinite alternate;*/
    cursor: pointer;
   
}
.elipse__active > span{
 
    
    color: var(--color-white) !important;

}
.elipse__active > h5{
    
    color: var(--color-white) !important;

}
