.lab {
    
   
    z-index:9989;
   
}
.lab__iframe > iframe{
    width: 100%;
    height: 100vh;
    position: fixed;

    bottom:0;
    left:0;
    right:0;
    top:0;
    z-index:9989;
   
}
.lab__header{
    width: 100%;
    
    position: fixed;


    left:0;
    right:0;
    top:0;
    z-index:9999;
    padding:var(--spacer--md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.lab__header > *{
    font-size: var(--spacer--lg);
    color:yellowgreen
}
/*  */