.content__item__box{
    padding: 0 !important;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
    cursor:pointer;
    flex-basis: 50%;
   

}


.card__content  {
    
    
    margin: 0  !important;
   
    background-color: #e4e4e43f !important;
    /* box-shadow: 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px 1px #0000002a;
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px -1px rgba(0,0,0,0), 0px 4px 5px 1px #0000002a; */



    padding:0 ;
    position: relative;
    border-radius: 8px;
    display: flex;
    
    flex-direction:column; 
    overflow: hidden;
    width: 95%;
    
}

.card__head{
    padding: 0 10px;
     height: 70px;
    display:flex ;
    align-items: center;
  
    background-color: rgba(51, 51, 51, 0.582);
    
}
.content__item__box_p{
    font-size: 12px;
    font-weight: lighter;
    
    letter-spacing: 0.09em !important;
    line-height:12.5px;
    color: #e6e6e6;
    
}
.card__content__image{
    
        
        width: 100%;
        padding:0 10px;
        min-height:100px;
    }
    .card__content__image img{
        /* height:100px; */
        /* background:rgba(58, 58, 56,0.5); */
        aspect-ratio: 4 / 3;
        object-fit: cover;
        
    }
    @media (min-width: 550px) { 
        .card__content__image img{
            /* height:140px; */
            aspect-ratio: 4 / 3
            
        }
    
    }
    @media (min-width: 850px) { 
        .card__content__image img{
            /* height:150px; */
            aspect-ratio: 4 / 3
        }
    
    }

.card__content__desc{
        
    padding: 0 10px;
        
        display: flex;
        position: relative;
        
        padding: 10px 0 10px 0;
        width:100%;
        background-color: rgba(51, 51, 51, 0.158);
     
      
    
    }
/*.card__content::before{
    content: "";
    display: block;
    width: 0.4em;
    height: 100%;
   background-color: hsl(60, 100%, 99%);
    position: absolute;
    top: 0;
    left: -0.4em;
}*/
.card__content__icons  {
    
    
    padding-top: 0;
    /* margin-top: -20px; */
    /* border: solid 1px green; */
    padding:0  !important;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row-reverse; */


}
.content__item__box_text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
 
 
 
}
.lang__btn{
    font-size: 10px !important;
    padding: 3px !important;
}


.icon__btn{

    height: 1em;
    width: 1.3em;
    padding: 0px !important;
    
    /* padding: 0; */
    font-size: 1rem !important;
   }
.icon__btn > *{   
    color:var(--color-white);
    
    
}
@media (max-width: 350px) { 
    .content__item__box{
       
        flex-basis: 80%;
       
    
    }
    .card__content__image img{
        /* height:120px; */
        aspect-ratio: 4 / 3;
        /* background:rgba(58, 58, 56,0.5); */
        
    }
}
@media (max-width: 550px) { 
   
    .card__content__image img{
        /* height:140px; */
        aspect-ratio: 4 / 3
        
        
    }
}