.content__item__box{
    padding: 0;
    width: 300px;
    /* max-height: 150px, */
    margin:.1em .5em;
    border-radius: 1em;
    margin-bottom: var(--spacer--md);
   
  
   
   
}

.card__content  {
    
    padding-bottom: 10px !important;
  
}
.card__content__icons  {
    
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    /* margin-top: -20px; */

}

.icon__btn{

    height: 2em;
    width: 2em;
    padding:0;
   }
.icon__btn > *{   
    color:var(--color-teal);
}
