.content__item__box{
    padding: 0 !important;
    width: 100%;
    /* max-height: 150px, */
  
    border-radius: 1em;
    margin-bottom: var(--spacer--md);
    cursor:pointer;
    background-color: #15204a !important;
  
  
   
   
}

.card__content  {
    
    padding:var(--spacer--sm) var(--spacer--md) 0 var(--spacer--md) !important;
    margin: 0 !important;
    height: 100% !important
}
.card__content__icons  {
    
    
    padding-top: 0;
    /* margin-top: -20px; */
    /* border: solid 1px green; */
    padding:0  !important

}

.icon__btn{

    height: 1.7em;
    width: 1.7em;
 
    padding:0;
   }
.icon__btn > *{   
    color:var(--color-white);
    
}
