@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Nunito&display=swap');
:root {
    --color-primary:hsl(209, 33%, 12%);
    --color-secondary:hsl(191, 89%, 19%);
    --color-teal:hsl(181, 100%, 24%);
    --color-info:hsl(205, 98%, 64%);
    --color-warning:hsl(34, 100%, 59%);
    --color-success:hsl(106, 51%, 65%);
    --color-danger:hsl(339, 100%, 48%);

    --color-light:hsl(60, 92%, 71%);
    --color-white:hsl(60, 100%, 99%);


    --text-primary:hsl(60, 100%, 99%);
    --text-secondary:hsl(60, 1%, 83%);

    /* Fonts */
    --font-primary:'Nunito', sans-serif;
    --font-secondary:'Kiwi Maru', serif;
    /* --global--concept--size */
    --spacer--sm: .5rem;
    --spacer--md: 1rem;
    --spacer--lg: 2rem;

    --border-radius--sm: .7rem;
    --border-radius--md: 1rem;
    --border-radius--lg: 2rem;

 
    --main-title--FontSize: 2rem;
    --secondary-title--FontSize: 1.8rem;
    --body--FontSize: 1rem;

    

 
}   