


:root {
    --color-primary:#A65F5D;
    --color-secondary:#56A6A2;
    --text-primary:#6b3e3c;
    --text-secondary:#A65F5D;
    --color-primary-light:#B59D9C;
    --color-light:#e0e0e0;
    --color-white:#fffffa;


    
    --color-info:hsl(205, 98%, 64%);
    --color-warning:hsl(34, 100%, 59%);
    --color-success:hsl(106, 51%, 65%);
    --color-danger:#030f69;

   
    


  

    /* Fonts */
    --font-primary:'Roboto', sans-serif;
    --font-secondary:'Roboto Condensed', sans-serif;
    /* --global--concept--size */
    --spacer--sm: .5rem;
    --spacer--md: 1rem;
    --spacer--lg: 2rem;

    --border-radius--sm: .7rem;
    --border-radius--md: 1rem;
    --border-radius--lg: 2rem;

 
    --main-title--FontSize: 2rem;
    --secondary-title--FontSize: 1.8rem;
    --span-title--FontSize: 0.8rem;
    --body--FontSize: 1rem;

    /* Special */
    --header-height:62px;

    

 
}   