.layout{
    
   position:relative; 
   padding-bottom: 30px; 
    margin-top: var(--header-height);
   
}
.layout__content{
    /* margin-top: -20px; */
    min-height: calc(70vh + 20px);
    margin-top: var(--header-height);
    padding: 0;
    /* max-width: 950px; */
    width:100%;
    margin: auto;
    position: relative;
    margin-top: var(--spacer--md);
    padding: 0;
    padding-bottom: 40px; 
  

}
/* .ad_img{
    height:10vh;
} */
.layout__info__ad--desktop{
    display:none;
    position: sticky;
    top:10vh;
}
.layout__info__ad--mobile{
    margin-top: var(--header-height);
   
   
} 
@media (min-width: 950px) {
   
    .layout__info{
        max-height: 100px;  

       
    } 
    .layout__content{
        padding: var(--spacer--md) 0 ;
        margin-top: var(--header-height);
        width:95%;
        display:flex;
        

    
    }
    .layout__info__ad--mobile{
        display:none;
       
       
    } 

    .layout__info__ad--desktop{
        width:24%;
        margin-right:  var(--spacer--sm);;
        display:block;
        position: sticky;
        position: -webkit-sticky;
        top:var(--header-height);
        height:calc(100vh - var(--header-height))
    }
    .layout__content__content{
        width:76%;
    }
  
}